*.dll
*.exe
.DS_Store
example.tf
terraform.tfvars
terraform.tfplan
terraform.tfstate
.terraform.lock.hcl
bin/
terraform-provider-google
terraform-provider-yandex
modules-dev/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.env
.envrc
.vscode

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
vendor

.go-version
*.xml
node_modules
output-folder
