---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}}

{{ .Description | trimspace }}

{{- /* Uncomment this block as you add "examples/container_repository_lifecycle_policy/resources/example_1.tf"

## Example Usage

{{tffile "examples/container_repository_lifecycle_policy/resources/example_1.tf" }}

*/ -}}

{{ .SchemaMarkdown | trimspace }}


{{- /* Uncomment this block as you add "examples/container_repository_lifecycle_policy/resources/import/import.sh"

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/container_repository_lifecycle_policy/resources/import/import.sh" }}

*/ -}}
