---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
  Allows management of members of Yandex.Cloud Organization Manager Group.
---


# {{.Name}}

{{ .Description }}


Allows members management of a single Yandex.Cloud Organization Manager Group. For more information, see [the official documentation](https://cloud.yandex.com/en-ru/docs/organization/manage-groups#add-member).

~> **Note:** Multiple `yandex_organizationmanager_group_iam_binding` resources with the same group id will produce inconsistent behavior!

{{tffile "examples/organizationmanager/resources/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `group_id` - (Required, Forces new resource) The Group to add/remove members to/from.
* `members` - A set of members of the Group. Each member is represented by an id.
