---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
  Allows management of User Ssh Keys within an existing Yandex.Cloud Organization and Subject.
---


# {{.Name}}

{{ .Description }}


## Example usage

{{tffile "examples/organizationmanager/resources/organizationmanager_user_ssh_key_example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `organization_id` - (Required) Organization that the user ssh key belongs to.
* `subject_id` - (Required) Subject that the user ssh key belongs to.
* `data` - (Required) Data of the user ssh key.
* `name` - (Optional) Name of the user ssh key.
* `expires_at` - (Optional) User ssh key will be no longer valid after expiration timestamp.
