---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
  Allows management of a Yandex.Cloud IAM federated credentials.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/iam/resources/iam_workload_identity_federated_credential_example_1.tf" }}

{{ .SchemaMarkdown }}

## Import

IAM federated credential can be imported using this format:

```
$ terraform import yandex_iam_workload_identity_federated_credential.fed-cred federated_credential_id
```
