---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
  Allows management of a Yandex.Cloud Organization Manager Group Mapping.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/organizationmanager/resources/organizationmanager_group_mapping_example.tf" }}

{{ .SchemaMarkdown }}

## Import

Organization Manager Group Mapping can be imported using this format:

```
$ terraform import yandex_organizationmanager_group_mapping.foo federation_id
```
