---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
  Creates a new Container Registry IP Permission.
---


# {{.Name}}

{{ .Description }}


Creates a new Container Registry IP Permission. For more information, see [the official documentation](https://cloud.yandex.ru/docs/container-registry/operations/registry/registry-access)

## Example usage

{{tffile "examples/container_registry/resources/container_registry_ip_permission_example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `registry_id` - (Required) The ID of the registry that ip restrictions applied to.

* `push` - List of configured CIDRs, from which push is allowed.

* `pull` - List of configured CIDRs, from which pull is allowed.

## Import

An ip premission can be imported using the `id` of the Container Registry it is applied to, e.g.

```bash
terraform import yandex_container_registry_ip_permission.my_ip_permission registry_id
```
