---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
  Manages a MySQL database within Yandex.Cloud.
---


# {{.Name}}

{{ .Description }}


Manages a MySQL database within the Yandex.Cloud. For more information, see [the official documentation](https://cloud.yandex.com/docs/managed-mysql/).

## Example usage

{{tffile "examples/mdb/mysql/resources/mdb_mysql_database_example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `name` - (Required) The name of the database.

## Import

A MySQL database can be imported using the following format:

```
$ terraform import yandex_mdb_mysql_database.foo {cluster_id}:{database_name}
```
