---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
  Get information about a Yandex Load Testing Agent.
---


# {{.Name}}

{{ .Description }}


Get information about a Yandex Load Testing Agent.

## Example usage

{{tffile "examples/loadtesting/data-sources/loadtesting_agent_example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `agent_id` - The ID of a specific load testing agent.

## Attributes Reference

* `name` - The name of the load testing agent.
* `description` - A description of the load testing agent.
* `folder_id` - The ID of the folder that the load testing agent belongs to.
* `labels` - A map of labels applied to the load testing agent.
* `compute_instance_id` - The ID of Yandex Compute Instance running loadtesting agent.
* `compute_instance` - The Compute Instance details. The structure is documented below.
* `log_settings` - The logging settings of the load testing agent. The structure is documented below.

---

The `compute_instance` block supports:

* `zone_id` - The ID of the availability zone where the instance resides.
* `service_account_id` - The service account ID for the instance.
* `platform_id` – The type of virtual machine.
* `computed_metadata` - The set of metadata `key:value` pairs assigned to this instance. This includes user custom metadata, and predefined items created by Yandex Cloud Load Testing.
* `computed_labels` - The set of labels `key:value` pairs assigned to this instance. This includes user custom labels, and predefined items created by Yandex Cloud Load Testing.
* `resources.0.memory` - The memory size allocated to the instance.
* `resources.0.cores` - Number of CPU cores allocated to the instance.
* `resources.0.core_fraction` - Baseline core performance as a percent.
* `network_interface` - An array with the network interfaces that is attached to the instance. The structure is documented below.
* `boot_disk` - The specifications for boot disk that is attached to the instance. The structure is documented below.

---

The `boot_disk` block supports:

* `auto_delete` - Whether the disk is auto-deleted when the instance is deleted.
* `device_name` - This value can be used to reference the device under `/dev/disk/by-id/`.
* `disk_id` - ID of the existing disk. To set use variables.
* `initialize_params` - The parameters used for creating a disk alongside the instance. The structure is documented below.

---

The `initialize_params` block supports:

* `name` - The name of the boot disk.
* `description` - A description of the boot disk.
* `size` - The size of the disk in GB.
* `type` - The disk type.
* `block_size` - The block size of the disk in bytes.

---

The `network_interface` block supports:

* `index` - The index of the network interface as generated by the server.
* `subnet_id` - The ID of the subnet this interface attached to.
* `ipv4` - Is IPv4 address assigned.
* `ipv6` - Is IPv6 address assigned.
* `ip_address` - The private IP address assigned to the instance.
* `ipv6_address` - The IPv6 address assigned to the instance.
* `mac_address` - The MAC address assigned to the network interface.
* `security_group_ids` - Security group ids assigned to network interface.
* `nat` - Is NAT interface assigned.
* `nat_ip_address` - The public IP address of the instance.
* `nat_ip_version` - The IP version for the public address.

---

The `log_settings` block supports:

* `log_group_id` - The ID of cloud logging group to which the load testing agent sends logs.
