---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
  Get attributes used by provider to configure client connection.
---


# {{.Name}}

{{ .Description }}


Get attributes used by provider to configure client connection.

{{tffile "examples/client_config/data-sources/example_1.tf"}}

## Attributes Reference

The following attributes are exported:

* `cloud_id` - The ID of the cloud that the provider is connecting to.
* `folder_id` - The ID of the folder in which we operate.
* `zone` - The default availability zone.
* `iam_token` - A short-lived token that can be used for authentication in a Kubernetes cluster.
