---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
  Get information about a Yandex IAM workload identity OIDC federation.
---

# {{.Name}}

{{ .Description }}

## Example Usage

{{tffile "examples/iam/data-sources/iam_workload_identity_oidc_federation_example_1.tf" }}

{{ .SchemaMarkdown }}
