---
page_title: "Provider: Yandex.Cloud"
description: |-
  The Yandex.Cloud provider is used to interact with Yandex.Cloud services.
  The provider needs to be configured with the proper credentials before it can be used.
---

# Yandex.Cloud Provider

The Yandex.Cloud provider is used to interact with [Yandex.Cloud services](https://cloud.yandex.com/). The provider needs to be configured with the proper credentials before it can be used.

Use the navigation to the left to read about the available resources.

## Example Usage

{{tffile "examples/provider/example_1.tf"}}

{{ .SchemaMarkdown }}

## Shared credentials file

Shared credentials file must contain key/value credential pairs for different profiles in a specific format.

* Profile is specified in square brackets on a separate line (`[{profile_name}]`).
* Secret variables are specified in the `{key}={value}` format, one secret per line.

Every secret belongs to the closest profile above in the file.

You can find a configuration example below.

### shared_credential_file:

```
[prod]
storage_access_key = prod_access_key_here
storage_secret_key = prod_secret_key_here

[testing]
storage_access_key = testing_access_key_here
storage_secret_key = testing_secret_key_here

[default]
storage_access_key = default_access_key_here
storage_secret_key = default_secret_key_here
```

### example of shared credentials usage:

{{tffile "examples/provider/example_2.tf"}}
