---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
  Retrieve Yandex Billing cloud to billing account bind details.
---


# {{.Name}}

{{ .Description }}


Use this data source to get cloud to billing account bind details. For more information, see [Cloud binding](https://cloud.yandex.ru/docs/billing/operations/pin-cloud).

## Example usage

{{tffile "examples/billing/data-sources/billing_cloud_binding_example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `billing_account_id` - (Required) ID of the billing account.
* `cloud_id` - (Required) ID of the cloud.
