---
subcategory: "{{.SubCategory}}"
page_title: "Yandex: {{.Name}}"
description: |-
  Documentation for the yandex_smartcaptcha_captcha datasource
---

# {{.Name}}

{{ .Description | trimspace }}

{{- /* Uncomment this block as you add "examples/smartcaptcha_captcha/data-sources/example_1.tf"

## Example Usage

{{tffile "examples/smartcaptcha_captcha/data-sources/example_1.tf" }}

*/ -}}

{{ .SchemaMarkdown | trimspace }}


{{- /* Uncomment this block as you add "examples/smartcaptcha_captcha/data-sources/import/import.sh"

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/smartcaptcha_captcha/data-sources/import/import.sh" }}

*/ -}}
